
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 2px 4px;
}

button, div.tod-nav>span {
    border-radius: 2px;
}

.boxed {
    border-radius: 5px;
    padding: 20px;
}

.boxed > :first-child {
    margin-top: 0;
}

.boxed > :last-child {
    margin-bottom: 0;
}

.project-content {
    margin: auto;
    text-align: center;
}

.project-grid {
    display: flex; 
    flex-direction: row;
}

.project-grid > div {
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    margin: 5px; 
    display: flex; 
    flex-direction: column; 
    padding: 5px;
}

.project-row {
    display: flex;
    flex-direction: row;
}

.game-project-cell {
    aspect-ratio : 3 / 2;
    width: 100%;
    margin: 9px;
    box-sizing: border-box;
    transition: all .175s;  
    min-width: 1px;
}

.game-project-cell:hover {
    transform: scale(1.1); 
    transition: all .3s;
}

.game-project-cell > a, .game-project-cell > a > img {
    height: auto; 
    width: 100%;
    border-radius: 4px;
}

.game-project-cell > a > img {
    object-fit: cover;
}

.video-container {
    aspect-ratio : 16 / 9;
    width: 100%;
}

#game-projects, #software-projects {
    text-align: center;
}

#game-projects {
    width: 60%; 
}

#software-projects {
    width: 40%; 
}
  
body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

#top-bar > a, li > a, .link{
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 15px;
}

#end-logos, #main-body {
    padding: 1%;
    margin: 1%;
}

.unbulleted {
    list-style: none;
    padding-left: 0;
}

h2 {
    padding-top: 1.5em; margin-top: -1.3em;
}

#project-header {
    font-size: xx-large;
    padding-bottom: -1em;
    margin-bottom: -1em;
}

h3 {
    font-size: x-large;
    padding-top: 1.5em;
}

.main-links {
    font-size: large;
    padding-top: .5em;
    text-decoration: underline;
    cursor: pointer;
}

h3 {
    font-size: large;
    margin-bottom: .1em;
    padding-bottom: .1em;
}

.subheading, h1, .centered-list {
    text-align: center;
}


div.clearer {
    clear: both;
}

div.tod-nav {
    display: flexbox;
}

div.tod-nav>span {
    padding: 2px 5px;
    border-radius: 3px;
    border-width: 3px;  
}

img.svg-item {
    background-color: rgba(0,0,0,0);
    height: 10px;
}

div.tod-nav {
    position: sticky;
    top: 50px;
}

#top-bar {
    position:sticky;
    overflow: hidden;
    z-index: 5;
    top:0;
    width:100%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#photo-of-me {
    border-radius: 7.5px 7.5px;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 2%;
    width: 50%;
    max-width: 400px;
    height: auto;
}

.subheading {
    font-size: large;
    font-weight: 400;
    padding-bottom: 1em;
}

div.text-block > p{
    text-indent: 1em;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 0%;
}

ul.centered {
  display: inline-block;
  text-align: left;
  margin-top: 0em;
}

a.anchor {
    display: block;
    position: relative;
    top: -1.85em;
    visibility: hidden;
}
.half-panel {
    max-width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 200px) {

    .project-row {
        font-size: .75em;
    }

    .small {
        display: flex;
    }

    .big {
        display: none;
    }

    .portrait {
        float: none;
    }/* small screens */

    .landscape {
        width: 100%;
    }
    
    #top-bar > a {
        padding-left: .75em;
        padding-right: .75em;
    }
    
    p, .minor {
        font-size: large;
    }

    #photo-of-me {
        margin: auto;
        display: block;
    }
}
@media (min-width: 536px) {
    .bandcamp {
        width: auto;
    }
    .landscape {
        max-width: 536px;
    }
}
    
@media (min-width: 700px) {

    .half-panel-holder {
        display: flex;
        flex-direction: row;
    }

    .half-panel {
        max-width: 50%;
    }

    .bandcamp { 
        width: 400px;
    }

    .boxed {
        width: 60%; margin: auto;
    }

    .small {
        display: none;
    }

    .big {
        display: flex;
    }

    .project-panels {
        display: flex;
        flex-direction: row;
    }

    .project-graphics {
        width: 50%;
        padding:20px;
        box-sizing: border-box;
    }

    .project-text {
        width: 50%;
        padding-left: 20px;
        padding-right: 80px;
        box-sizing: border-box;
    }

    .portrait {
        padding-right: .5em;
        float: left;
    }

    #skills {
        padding-left: 10%;
        padding-right: 5%;
        float: left;
    }

    #courses {
        padding-right: 10%;
        padding-left: 5%;
        text-align: right;
    }

    #top-bar > a {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    
    .landscape {
        max-width: 1072px;
    }

    p, .minor {
        font-size: medium;
    }

    .split-box {
        display: flex; 
        flex-direction: row;
    }

    #photo-of-me {
        margin-left: 2%;
        margin-right: 5%;
        margin-top: 2%;
    }

    #links-holder {
        padding-left: 3%;
    }
}

@media (min-width: 850px) {
    
    .project-row {
        font-size: .9em;
    }
}

@media (min-width: 1100px) { 
    
    .bandcamp { 
        width: 550px;
    }

    .boxed {
        width: 40%; margin: auto;
    }
    .project-row {
        font-size: 1em;
    }
    #courses {
        padding-right: 20%;
    }
    #skills {
        padding-left: 20%;
    }
}