button, div.tod-nav>span {
    color: white;
    background-color: rgb(0,0,0);
}

button:hover {
    color: black;
    background-color: rgb(225,225,225);
}

body {
    background-color:rgb(0, 0, 0);
    color: white;
}

::-webkit-scrollbar-track {
    background: rgb(30, 30, 30); 
}

::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
}

#top-bar > a, li > a, .link {
    color: rgb(0, 203, 34);
}

a:visited.link {
    color: rgb(0, 203, 34);
}

a:visited:hover.link {
    color: rgb(0, 255, 34);
}

img.svg-item {
    filter: invert();
}

#top-bar > a:hover , li > a:hover, .link:hover {
    color:rgb(0, 255, 34);
}

#main-body, #top-bar{
    background-color:rgb(30, 30, 30);
}

h1, .subheading {
    color:rgb(255, 255, 255);
}