button {
    color: white;
    background-color: rgb(0,0,0);
}

button:hover {
    color: black;
    background-color: rgb(225,225,225);
}

body {
    background-color:rgb(25, 25, 25);
    color: white;
}

::-webkit-scrollbar-track {
    background: rgb(25, 25, 25); 
}

::-webkit-scrollbar-thumb {
    background: rgb(50, 50, 50); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
}

#top-bar > a, li > a, .link {
    color: rgb(0, 203, 34);
}   

#top-bar > a:hover , li > a:hover, .link:hover {
    color:rgb(0, 255, 34);
}

#main-body, #top-bar{
    background-color:rgb(25, 25, 25);
}

h1, .subheading {
    color:rgb(255, 255, 255);
}